/**
 * Dashboard
 */
.dashboard-page .dash-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
}

.dashboard-page .dash-card {
    grid-column: var(--dashboard-card-column, span 1);
}

.dashboard-page .dash-cards .item {
    padding: 10px;
}
.dashboard-page .dash-cards .item .card {
    /* border: 1px solid #E6E6E6;
    padding: 10px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: white;
    height: 100%;
}
.dashboard-page .count-square {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent linear-gradient(149deg, #277CBF 0%, #1464A5 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #00000026;
    width: 55px;
    height: 55px;
    margin-right: 20px;
    margin-top: 40px;
}
.dashboard-page .count-square span {
    font-size: 1.5em;
}
.card-container{
    display: flex; 
    flex-direction: column; 
    height: 100%
}
.card-body{
    padding: 10px 40px;
    flex-grow: 1;
}
.button.status-button{
    width: 100%;
    border-radius: 25px;
}
#personal-benchmarks .card-body{
    display: flex;
}
/* .dashboard-page .card-title, */
.dashboard-page .card-header {
    height: 56px;
    width: 100%;
    background: transparent linear-gradient(180deg, #09497E 0%, #053358 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 0 20px;


    /* padding-left: 20px;
    padding: 16px 30px; */
    /* font: normal normal 800 18px/27px Poppins; */

    /* margin: 0; */
    /* margin-left: 10px;
    font-size: 1.4rem;
    vertical-align: middle; */
}
.dashboard-page .view-all {
    text-align: center;
}
.dashboard-page .view-all button {
    margin-bottom: 0;
}
.dashboard-page .numberCircle {
    background: transparent linear-gradient(149deg, #277CBF 0%, #1464A5 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #00000026;
    color: white;
    font-weight: 900;
    display: inline-block;
    border-radius: 50%;
    line-height: 0px;
    font-size: 5rem;
    margin-bottom: 20px;
    height: 150px;
    width: 150px;;
}
.dashboard-page .numberCircle:before, .dashboard-page .numberCircle:after {
    content: '\200B';
    display: inline-block;
    line-height: 0px;
    padding-top: 50%;
    padding-bottom: 50%;
}
.dashboard-page .numberCircle:before {
    padding-left: 8px;
}
.dashboard-page .numberCircle:after {
    padding-right: 8px;
}
@media screen and (max-width: 640px) {
    .dashboard-page .dash-cards .item {
        flex-basis: 100% !important;
    }
    .dashboard-page #benchmarks .card div {
        flex-basis: 100% !important;
    }
}

.existing-task-action {
    font-size: 10px;
    color: #1779ba;
    margin: 0 5px;
}



/* add cards card */
#add-card #add-menu{
    margin: 20px;
    list-style-type: none;
    padding: 0;
    
}
#add-card #add-menu li {
    background: transparent linear-gradient(99deg, #09497E 0%, #053358 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 16px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 20px;
}
#add-card #add-menu li:hover{
    cursor: pointer;
}


/* card footer */
.card-nav-btn{
    cursor: pointer;
}
.card-footer {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px -3px 6px #00000029;
    border-radius: 0px 0px 16px 16px;
    padding: 10px 20px;
    position: relative;
}
.show {
    display: block !important;
}
.card-nav {
    display: none;
    cursor: pointer;
    width: 150px;
    position: absolute;
    bottom: 30px;
    left: 30px
}
.card-move-left {
    border-radius: 8px 8px 0px 0px;
}
.card-move-right,
.card-move-left {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    color: #626262;
    font-weight: 800;
    padding: 5px 10px;
}
.card-remove {
    background: transparent linear-gradient(180deg, #C7002E 0%, #B10029 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 3px #00000029;
    border-radius: 0px 0px 8px 8px;
    color: #fff;
    font-weight: 800;
    padding: 5px 10px;
}

/* need update card */
.update-needed-container,
.pending-contacts-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #00000029;
    border: 1px solid #D6D6D6;
    margin-top: 20px;
    border-radius: 16px 16px 16px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.update-needed-icon,
.pending-contacts-icon{
    background: #1C6FB0 0% 0% no-repeat padding-box;
    border-radius: 16px 0px 0px 16px;   
    color: #fff;
    padding: 20px;
}
.update-needed-info,
.pending-contacts-info {
    display: flex;
    flex-direction: column;
    
    padding-left: 10px;
    flex-grow: 1;
}
.update-needed-info a,
.pending-contacts-info a {
    /* font: normal normal 800 18px/27px Poppins; */
    font-size: 18px;
    letter-spacing: -0.36px;
    color: #313133;
    font-weight: 800;
}
.update-needed-info span {
    /* text-align: left;
    font: italic normal medium 10px/16px Poppins; */
    letter-spacing: -0.2px;
    color: #848484;
    font-size: 12px;
}
/* pending contacts */
.pending-contacts-info {
    justify-content: center;
    align-items: center;
    padding: 0;
}
.pending-contacts-btns button {
    margin: 0;
    border-radius: 8px;
    font-weight: 800;
    padding: 10px 20px;
}
.accept-button{
    background: transparent linear-gradient(180deg, #4CAF50 0%, #3AA03E 100%) 0% 0% no-repeat padding-box;
}
.decline-button{
    background: transparent linear-gradient(180deg, #C7002E 0%, #B10029 100%) 0% 0% no-repeat padding-box;
}

/* contact workload */
.button.status-button{
    border-radius: 26px;
    color: #fff;
    border: 0;
}
.button.status-button.active-btn{
    background: transparent linear-gradient(180deg, #4CAF50 0%, #3AA03E 100%) 0% 0% no-repeat padding-box;
}
.button.status-button.existing-btn{
    background: transparent linear-gradient(180deg, #FFCE00 0%, #F5C600 100%) 0% 0% no-repeat padding-box;
    color: #363636;
}
.button.status-button.too_many-btn{
    background: transparent linear-gradient(180deg, #C7002E 0%, #B10029 100%) 0% 0% no-repeat padding-box;
}
.button.hollow.status-button, 
.button.hollow.status-button.disabled, 
.button.hollow.status-button.disabled:focus, 
.button.hollow.status-button.disabled:hover, 
.button.hollow.status-button[disabled], 
.button.hollow.status-button[disabled]:focus, 
.button.hollow.status-button[disabled]:hover {
    border: 1px solid #363636 !important;
    color: #363636 !important;
    background: #fff !important;
    border-radius: 26px;

}

/* Active Contacts  */
#dash-card--DT_Dashboard_Plugin_Active_Contact .card-header {
    height: 120px;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
}
#dash-card--DT_Dashboard_Plugin_Active_Contact  .numberCircle {
    margin-top: -100px;
}
#dash-card--DT_Dashboard_Plugin_Active_Contact .view-all a.button {
    background: transparent linear-gradient(180deg, #09497E 0%, #053358 100%) 0% 0% no-repeat padding-box;
    border-radius: 26px;
    color: #fff;
    font-weight: 800;
    margin: 40px 0;
}

/* Faith Milestone Totals */
#milestones { 
    display: flex; 
    flex-wrap: wrap;
    margin: 50px 0;
}
.group-progress-button-wrapper {
    margin: 20px 0;
    flex-basis: 33% !important;
}
.group-progress-button { 
    background: transparent linear-gradient(149deg, #277CBF 0%, #1464A5 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #00000026;
    color: #fff;
    border-radius: 50% !important;
    font-weight: 800;
}
.group-progress-button-wrapper p {
    color: #484848;
    font-weight: 800;
    font-size: 12px;
    margin: 10px 0;
    
}
#dash-card--DT_Dashboard_Plugin_Faith_Milestone_Totals .card-body > p {
    background: #1C6FB0 0% 0% no-repeat padding-box;
    text-align: center;
    color: #FFFFFF;
    margin-top: -10px;
    margin-left: -40px;
    margin-right: -40px;
    padding: 5px 10px;
    font-weight: 800;
}
/* Personal Benchmarks */
#dash-card--DT_Dashboard_Plugin_Personal_Benchmarks .card-body {
    display: flex;
}
#dash-card--DT_Dashboard_Plugin_Personal_Benchmarks .benchmarks-chart-keys {
    flex-basis: 25%;
    margin-top: 20px;
}
.benchmarks-chart-keys li {
    padding: 10px 0px;
    display: flex;
    align-items: center;
}
#benchmarks_current,
#benchmarks_previous {
    padding: 0 10px;
    color: #313133;
    font-size: 12px;
    font-weight: 800;
} 
.benchmarks-previous-block, 
.benchmarks-current-block{
    border-radius: 5px; 
    height: 30px; 
    width: 30px; 
    padding-right: 10px;
    display: inline-block;
    
}
.benchmarks-previous-block{
    background-color: #C7E3FF; 
} 
.benchmarks-current-block{
    background-color: #3f729b;
}
#dash-card--DT_Dashboard_Plugin_Personal_Benchmarks .card-body div ul{
    list-style: none; 
    margin-left: 50px;
}
.benchmark-chart-container {
    flex-basis: 75%
}
#dash-card--DT_Dashboard_Plugin_Personal_Benchmarks #benchmark_chart {
    height: 300px;
}
